<ul class="links">
  <li class="{% if page.url == "/" %} active {% endif %}"><a href="{{ "/" | absolute_url }}">Lyon Game Dev</a></li>
  <li class="{% if page.url contains '/outils/' %} active {% endif %}"><a href="{{ "/outils/" | absolute_url }}">Les outils</a></li>
   <li class="{% if page.url contains '/blog/' %} active {% endif %}"><a href="{{ "/blog/" | absolute_url }}">Le blog</a></li>
    <li class="{% if page.url contains '/about/' %} active {% endif %}"><a href="{{ "/about/" | absolute_url }}">Qui sommes-nous ?</a></li>
  <li><a href="https://www.helloasso.com/associations/lyon-game-dev/">Adhérer !</a></li>
</ul>

            {% include social.html %}