<ul class="icons">
              <li><a href="https://facebook.com/{{site.facebook}}" class="icon fab fa-facebook-f" rel="nofollow"><span class="label">Facebook</span></a></li>
			  <li><a href="https://facebook.com/{{site.facebookgroup}}" class="icon fab fa-facebook" rel="nofollow"><span class="label">Groupe Facebook</span></a></li>
			  <li><a href="http://discord.lyongamedev.pro" class="icon fab fa-discord" rel="nofollow"><span class="label">Serveur Discord</span></a></li>
			  <li><a href="https://twitter.com/{{site.twitter}}" class="icon fab fa-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="https://linkedin.com/{{site.linkedin}}" class="icon fab fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>
              <li><a href="https://github.com/{{site.github}}" class="icon fab fa-github" rel="nofollow"><span class="label">GitHub</span></a></li>
</ul>