<ul class="icons">
			  <li><a href="{{site.twitch}}" class="icon fab fa-twitch" rel="nofollow"><span class="label">Chaine Twitch</span></a></li>
			  <li><a href="{{site.youtube}}" class="icon fab fa-youtube" rel="nofollow"><span class="label">Chaine Youtube</span></a></li>
			  <li><a href="{{site.discord}}" class="icon fab fa-discord" rel="nofollow"><span class="label">Serveur Discord</span></a></li>
			  <li><a href="{{site.facebook}}" class="icon fab fa-facebook-f" rel="nofollow"><span class="label">Facebook</span></a></li>
			  <li><a href="{{site.twitter}}" class="icon fab fa-x-twitter" rel="nofollow"><span class="label">Twitter</span></a></li>
              <li><a href="{{site.linkedin}}" class="icon fab fa-linkedin" rel="nofollow"><span class="label">Linkedin</span></a></li>

</ul>